.light div{
    width: 200px;
    height: 200px;
    border: 10px solid #000;
    border-radius: 100px;
    gap: 20px;
    background-color: white;
}
.light {
    width: 250px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border: 10px solid #000;
    background-color: gray;
}
