canvas {
    display: block;
    margin: 0 auto;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal {
    height: 500px;
    width: 500px;
    position: absolute;
    background: white;
    border-radius: 30px;
}
.butOne {
    margin-top: 100px;
    margin-left: 140px;
    width: 200px;
    height: 100px;
    border-radius: 2px;
    color: green;
    border-color: green;
    font-size: 22px;
}
h3 {
    font-size: 28px;
    font-family: "Myanmar Text", sans-serif;
    color: red;
    margin-top: 50px;
    margin-left: 75px;
}
