* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: silver;
    padding: 20px;
}
input {
    border: 2px solid teal;
    font-size: 20px;
    width: 500px;
    height: 40px;
    padding-left: 5px;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
}
#create_button {
    width: 200px;
    height: 40px;
    border: 2px solid teal;
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    font-size: 22px;
}
#todo_list {
    width: 750px;
    margin: 0 auto;
}
.block_text {
    width: 100%;
    border: 2px solid teal;
    padding: 8px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
h3 {
    font-size: 28px;
    font-family: "Myanmar Text", sans-serif;
}
.butOne {
    height: 40px;
    width: 100px;
    border-radius: 2px;
    color: red;
    border-color: red;
    font-size: 22px;
}
.butTwo {
    height: 40px;
    width: 100px;
    border-radius: 2px;
    border-color: yellow;
    color: yellow;
    font-size: 22px;
}
